<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SMITH Reviews</title>
  </head>
  <body ng-app='reviews'>
    <div ng-controller='ReviewController'>
      <textarea ng-model='newReview' name="textarea" rows="10" cols="50" placeholder ="Write a review"></textarea>
      <button type="button" ng-click="add(newReview)">Submit</button>
      <ul>
        <li ng-repeat='review in reviews'>{{review}}</li>
      </ul>
    </div>

    <script src='bower_components/angular/angular.js'></script>
    <script src="bower_components/angular-guid/guid.min.js"></script>
    <script src='app/storageService.js'></script>
    <script src='app/module.js'></script>
    <script src='app/service.js'></script>
    <script src='app/controller.js'></script>
  </body>
</html>
